/* Stylesheet for all fxml pages */
/* Note: all images are drawn by me */

/* All the fonts used (Google Fonts) */
@font-face {
	src: url('../fonts/Londrina_Solid/LondrinaSolid-Regular.ttf');
}

@font-face {
	src: url('../fonts/Gaegu/Gaegu-Regular.ttf');
}

@font-face {
	src: url('../fonts/Gaegu/Gaegu-Bold.ttf');
}

/* Sets the background color of all scenes as cream */
.root {
    -fx-background-color: #ebe9dd;
	-fx-margin: center;
}

.headers{
	-fx-font-family: 'Londrina Solid';
}

.subHeaders{
	-fx-font-family: 'Gaegu Bold';
}

.button {
	-fx-font-family: 'Gaegu';
	-fx-background-color: black;
	-fx-background-radius: 40px;
	-fx-text-fill: #668cff;
	-fx-font-size: 18px;
}

.button:hover{
	-fx-background-color: rgb(102, 140, 255);
	-fx-text-fill: black;
}
/* Main Menu scene */

/* Adds the splash */
.splash {
	-fx-image: url('../images/splash.png');
}

/*TODO: Should we use this or not*/
/* For text to speech add volume image */
#audio{
	-fx-background-image: url('../images/audio.png');
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 150 100;
	-fx-background-position: center center;
}

/* User Profile scene*/

.userButton{
	-fx-background-image: url('../images/profile.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 200 200;
    -fx-background-radius: 40px 40px 0 0;
    -fx-border-style: solid;
    -fx-border-color: black;
	-fx-border-radius: 35px 35px 0 0;
    -fx-border-width: 3px;
	-fx-font-family: 'Londrina Solid';
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-pref-width: 200;
	-fx-pref-height: 200;
    -fx-alignment: bottom-center;
    -fx-wrap-text: true;
}

.pagination {
	-fx-font-family: 'Gaegu';
	-fx-font-size: 18px;
	-fx-page-information-visible: false;
	}

.pagination .toggle-button  {
	-fx-color:black ;
	-fx-background-radius: 20px;
	-fx-tooltip-visible: false;
}

.pagination .toggle-button:selected{
 	 -fx-color: rgb(102, 140, 255);
}


.pagination .toggle-button:hover {
 	 -fx-background-color: rgb(102, 140, 255);
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: black, rgb(102, 140, 255);
	-fx-min-width: 20;
	-fx-min-height: 20;
}

.pagination .button {
	-fx-background-color: none;
}

.pagination .pagination-control .left-arrow:hover, .right-arrow:hover{
    -fx-background-color: rgb(102, 140, 255), black;
	-fx-min-width: 25;
	-fx-min-height: 25;
}

.text-field, .color-picker {
	-fx-font-family: 'Gaegu';
   	-fx-font-size: 18px;
	-fx-background-color: rgb(235, 233, 221);
	-fx-background-radius: 40px;
}

.dialog-pane{
  	-fx-font-family: 'Gaegu';
	-fx-font-size: 18px;
	-fx-background-color: rgb(235, 233, 221);
 }
 
 .dialog-pane .header-panel{
	-fx-font-family: 'Londrina Solid';
	-fx-font-size: 20px;
	-fx-background-color:  rgb(102, 140, 255);
 }

 .dialog-pane .label {
	-fx-text-fill: darkred;
 }

/* Canvas scene */

.userButtonCanvas{
	-fx-background-size: 70 70;
	-fx-pref-width: 70;
	-fx-pref-height: 70;
	-fx-font-size: 10px;
}
.resultSplash {
	-fx-image: url('../images/resultSplash.png');
}

/* Adds border to canvas so user can see where to draw */
.canvas {
	-fx-background-radius: 40px 40px 0 0;
    -fx-border-color: rgb(102, 140, 255);
}